<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Shinobi</label>
        <ul>
          <li><a href="homepage.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="shop.html">Shop</a></li>
          <li><a href="login.html">Login</a></li>
        </ul>
      </nav>
      <section class="hoodies">
<div class = "hoodie2">
        <img src="https://i5.walmartimages.com/seo/Men-s-Heavyweight-Casual-Pullover-Hoodie-Sweatshirt-with-Front-Pocket-Black-S_04719802-ac68-4692-97a8-51d9e2a86ac4.a94be62177c6c7fe31e07357fa1b2eb5.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF" alt="hoodie1" height="500" Width = "500">
        <h3>placeholder</h3>
        <p>$40.00</p>
</div>
        <div class ="hoodie1">
            <img src="https://i5.walmartimages.com/seo/Men-s-Heavyweight-Casual-Pullover-Hoodie-Sweatshirt-with-Front-Pocket-Black-S_04719802-ac68-4692-97a8-51d9e2a86ac4.a94be62177c6c7fe31e07357fa1b2eb5.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF" alt="hoodie1" height="500" Width = "500">
            <h3>placeholder</h3>
            <p>$40.00</p>
        </div>
        <div class ="hoodie3">
            <img src="https://i5.walmartimages.com/seo/Men-s-Heavyweight-Casual-Pullover-Hoodie-Sweatshirt-with-Front-Pocket-Black-S_04719802-ac68-4692-97a8-51d9e2a86ac4.a94be62177c6c7fe31e07357fa1b2eb5.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF" alt="hoodie1" height="500" Width = "500">
            <h3>placeholder</h3>
            <p>$40.00</p>
        </div>
        </section>
        <section class="hoodies">
<div class = "hoodie2">
        <img src="https://www.mrporter.com/variants/images/3633577411310824/in/w2000_q60.jpg" alt="hoodie1" height="500" Width = "500">
        <h3>placeholder</h3>
        <p>$40.00</p>
</div>
        <div class ="hoodie1">
            <img src="https://www.mrporter.com/variants/images/3633577411310824/in/w2000_q60.jpg" alt="hoodie1" height="500" Width = "500">
            <h3>placeholder</h3>
            <p>$40.00</p>
        </div>
        <div class ="hoodie3">
            <img src="https://www.mrporter.com/variants/images/3633577411310824/in/w2000_q60.jpg" alt="hoodie1" height="500" Width = "500">
            <h3>placeholder</h3>
            <p>$40.00</p>
        </div>
        </section>
        <section class="hoodies">
            <div class = "hoodie2">
                    <img src="https://i5.walmartimages.com/seo/Men-s-Heavyweight-Casual-Pullover-Hoodie-Sweatshirt-with-Front-Pocket-Black-S_04719802-ac68-4692-97a8-51d9e2a86ac4.a94be62177c6c7fe31e07357fa1b2eb5.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF" alt="hoodie1" height="500" Width = "500">
                    <h3>placeholder</h3>
                    <p>$40.00</p>
            </div>
                    <div class ="hoodie1">
                        <img src="https://i5.walmartimages.com/seo/Men-s-Heavyweight-Casual-Pullover-Hoodie-Sweatshirt-with-Front-Pocket-Black-S_04719802-ac68-4692-97a8-51d9e2a86ac4.a94be62177c6c7fe31e07357fa1b2eb5.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF" alt="hoodie1" height="500" Width = "500">
                        <h3>placeholder</h3>
                        <p>$40.00</p>
                    </div>
                    <div class ="hoodie3">
                        <img src="https://i5.walmartimages.com/seo/Men-s-Heavyweight-Casual-Pullover-Hoodie-Sweatshirt-with-Front-Pocket-Black-S_04719802-ac68-4692-97a8-51d9e2a86ac4.a94be62177c6c7fe31e07357fa1b2eb5.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF" alt="hoodie1" height="500" Width = "500">
                        <h3>placeholder</h3>
                        <p>$40.00</p>
                    </div>
                    </section>
            


</body>
</html>